<%- include('partials/header') -%>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Schematics ITS</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
              Dashboard
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <h5>New short URL</h5>
      <div class="table-responsive">
        <table class="table table-striped table-responsive">
            <thead>
              <th>Full URL</th>
              <th>Short URL</th>
              <th>Clicks</th>
            </thead>
            <tbody>
              <% shortUrls.forEach(urlShortener => { %>
              <tr>
                <td>
                  <a href="<%= urlShortener.fullUrl %>"><%= urlShortener.fullUrl %></a>
                </td>
                <td>
                  <a href="<%= urlShortener.shortUrl %>"><%= urlShortener.shortUrl %></a>
                </td>
                <td><%= urlShortener.clicks %></td>
                <td>
                  <button
                    class="btn btn-primary btn-sm"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#<%= urlShortener.shortUrl %>"
                    aria-expanded="false"
                    aria-controls="<%= urlShortener.shortUrl %>"
                  >
                    edit
                  </button>
                  <button
                    onclick="handleDelete('<%- urlShortener.shortUrl %>')"
                    class="btn btn-danger btn-sm"
                  >
                    delete
                  </button>
                </td>
              </tr>
              <tr>
                <td style="padding: 0 !important;">
                  <div class="collapse" id="<%= urlShortener.shortUrl %>">
                      <input id="<%= urlShortener.shortUrl %>full" type="text" value="<%= urlShortener.fullUrl %>"/>
                  </div>
                  </td>
                  <td style="padding: 0 !important;">
                      <div class="collapse" id="<%= urlShortener.shortUrl %>">
                          <input id="<%= urlShortener.shortUrl %>short" type="text" pattern="^[a-zA-Z][a-zA-Z0-9.,$;]+" required="true" value="<%= urlShortener.shortUrl %>"/>
                          <p id="shortWarning"></p>
                      </div>
                  </td>
                  <td style="padding: 0 !important;"></td>
                  <td style="padding: 0 !important;">
                      <div class="collapse" id="<%= urlShortener.shortUrl %>">
                          <button 
                          onclick="handleEdit('<%- urlShortener.shortUrl %>')" class="btn btn-success btn-sm">submit</button>
                      </div>
                  </td>
                </tr>
              </tr>
              <% }) %>
            </tbody>
          </table>
      </div>
    </main>
  </div>
</div>
<%- include('partials/footer') -%>