<%- include('partials/header') -%>

<nav>
<ul>
  <% if (user) { %>
    <ul>Welcome, <%= user.email %></ul>
    <ul><a href="/dashboard">GO TO DASHBOARD</a></ul>
    <ul><a href="/logout">Log out</a></ul>
  <% } else { %>
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup">Sign up</a></li>
    <% } %>
  </ul>
</nav>     
<div>
  <div
    class="bg-image"
    style="
      background-image: url(../public/home-sch-bg.png);
      height: 100vh;
      width: 100vw;
    "
  >
    <div>
      <main class="text-start">
        <h1 style="color: white; ">SHORT YOUR SCH LINKS!</h1>
        <p class="lead" style="color: white;">SCHEMATICS</p>
        <a role="button" onclick="customInputGenerator()"style="color: white;" >Use custom link</a>
      </main>

      <div class="mt-15">
        <form
          id=""
          action="/api/shortener"
          method="POST"
          class="form-inline my-4 text-start"
        >
          <div id="homeInput">
            <label for="fullUrl" class="sr-only"></label>
            <input
              required
              placeholder="Paste your link here!"
              name="fullUrl"
              id="fullUrl"
              class="col mr-3 my-3"
            />
          </div>
          <button id="generateHome" type="submit" class="btn btn-success">Generate</button>
        </form>
      </div>
      <div>
        <% if(url){ %>
          <a href=/<%= url.shortUrl %>><p class="text-white mx-auto">localhost:8000/<%= url.shortUrl %></p></a>
      <% } %>  
      </div>
      <footer class="mt-auto text-white-50 text-start">
        <p>@Schematics ITS 2022</p>
      </footer>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
